<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There has been activity on Pixtr, <%= @user.email %></h1>
    <p><%= @activity.actor.email %> has created a <%= @activity.class.name.downcase %><p>
      
  </body>
</html>