<% if current_user.premium? %>
  <h4 style="color: green">YOU ARE AWE$OME</h4>
<% else %>
  <%= button_to "Become A Premium Member!", new_charge_path, method: :get %>
<% end %><br>
<h2>WELCOME TO THE DASHBOARD!!</h2>

Recent Activities:

<ul>
<%= render @activities %>
</ul>